@model IDictionary<string, string>
@if(Model == null)
{
    <div class="alert alert-info">Установите атрибут Model</div>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach(var kv in Model)
            {
                <li class="breadcrumb-item active" onclick="location.href='@kv.Value';">@kv.Key</li>
            }
        </ol>
    </nav>    
}