@page "/purchase-order"
 
@inherits ComponentBase
 
<div class="container">
  <main>
 
    <div class="py-5 text-center">

        <h2>Выберите товары</h2>
        <form class="card p-2" style="width: 100%;">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск по каталогу">
              <button type="submit" class="btn btn-secondary">Поиск</button>
            </div>
        </form>


    </div>
    <div class="row g-5">

     
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#"> Политика </a></li>
      <li class="list-inline-item"><a href="#"> Терминология </a></li>
      <li class="list-inline-item"><a href="#"> Поддержка </a></li>
    </ul>
  </footer>
</div>