@model StoredImage
@using MVC.Album
 
@using MVC.Album.Services
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <div class="row">
        <script>
            function OnFileChanged(file) {
                var reader;
                if (file.files.length > 0) {
                    reader = new FileReader();
                    reader.readAsDataURL(file.files[0]);
                    reader.onload = function () {
                        var data = reader.result;
                        //console.log(data,typeof(data));
                        document.getElementById('StoredImageData').src = data;
                        document.getElementById('Data').value = data.toString().substring(data.indexOf(',') + 1);
                        console.log(document.getElementById('Data').value);
                    }

                } else {
                    console.warn('Файлы не выбраны');
                }

            }
            function OnSaveButtonClicked() {
                //event.preventDefault(); var form = document.getElementById('ImageEditForm'); form.setAttribute('action', '/Image/UpdateConfirmed');
            }
        </script>
        <form style="width: 100%; border-radius: 2px; box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 2px 6px 0px rgba(0, 0, 0, 0.22);"
              class="col-12 highlight"
              id="ImageEditForm"
              method="post"
              enctype="multipart/form-data"
              action="/Image/Update">

            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ContentType" />          
            <input type="hidden" asp-for="Data" />

            <div style="padding: 20px;">
                <h2>Редактирование</h2>
                <div class="validation text-danger" asp-validation-summary="All"></div>
                <div class="card" style="width: 36rem;">
                    <img id="StoredImageData" class="card-img-top" src="/Image/Show?ID=@Model.ID" alt="Card image cap">
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name">
                            <span class="form-text text-danger " asp-validation-for="Name"></span>
                        </div>

                        <p class="card-text">
                            <div class="form-group">
                                <label asp-for="Desc"></label>
                                <textarea class="form-control" asp-for="Desc"></textarea>
                                <span class="form-text text-danger " asp-validation-for="Desc"></span>
                            </div>
                        </p>
                        <div class="form-group">
                            <label asp-for="Data"></label>

                            <div class="custom-file">
                                <input type="file" name="NewData" class="custom-file-input" onchange="OnFileChanged(this); document.getElementById('DataLabel').innerHTML = this.files[0].name; ">
                                <label class="custom-file-label" id="DataLabel">Выберите файл</label>
                                <span class="invalid-feedback" asp-validation-for="Data"></span>
                            </div>
                            <span class="form-text text-danger " asp-validation-for="Data"></span>
                        </div>
                        <div style="padding: 20px;" align="right">
                            <button class="btn btn-primary" 
                                    onclick="OnSaveButtonClicked()">Сохранить</button>
                            <a href="/Image/Index" class="btn btn-danger">Отменить</a>
                        </div>

                    </div>
                </div>
            </div>


        </form>

    </div>
</div>