@model Settings
<form>
    <h3> Настройки </h3>
    <div class="form-check">        
        <label class="form-label" >
            Цветовая схема
        </label>
        <select class="form-control">
            <option>Светлая</option>
            <option>Тёмная</option>
        </select>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" >
        <label class="form-check-label" >
            Уведомления
        </label>
    </div>
    <div align="right">
        <button type="submit" class="btn btn-primary btn-sm"> Сохранить </button>      
    </div>
</form>

